################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/SBattleCity/v16
/PBattleCity/x64/Debug
